body, html {
    margin: 0;
    padding-top: 3%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


.columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 30px 40px;
}

.subColumna {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 25px;
}

.subColumna a {
    display: block;
    transition: transform 0.25s ease;
    text-decoration: none;
}

.subColumna a:hover {
    transform: scale(1.08);
}

.imgBibliotecas {
    width: 85px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 15px;
}

.p1 {
    color: #0057FF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.p2 {
    font-weight: 400;
    color: #6D6D6D;
    line-height: 1.6;
    text-align: justify;
    margin: 0 10px;
}

/* ======== RESPONSIVE ======== */

@media (max-width: 1024px) {
    body{
        padding-top: 10%;
    }

    .columnas {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        gap: 20px;
    }

    .imgBibliotecas {
        width: 75px;
    }

    .p1 {
        font-size: 18px;
    }

    .p2 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    body{
            padding-top: 15%;
    }

    .columnas {
        grid-template-columns: 1fr;
        margin: 15px;
    }

    .subColumna {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .imgBibliotecas {
        width: 80px;
        margin: 10px auto;
    }

    .p1 {
        font-size: 17px;
    }

    .p2 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body{
        padding-top: 21%;
    }

    .p1 {
        font-size: 16px;
    }

    .p2 {
        font-size: 13px;
        line-height: 1.5;
    }

    .columnas {
        margin: 10px;
    }
}