html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.estructura-container {
    padding-top: calc(90px + 4vh);
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
}

.estructura-img {
    width: 95%;
    max-width: 1200px;
    height: auto;
    display: block;
}