.fab-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    overflow: hidden;
    padding: 0;
}
  
.fab-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    transition: all .3s ease;
}
  
.main-fab {
    background-color: #0b3bff;
    color: white;
    font-size: 24px;
    line-height: 1;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

#fabArrow {
    transition: transform 0.5s ease;
}
  
.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px) scale(.9);
}
  
.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}
  
.fab img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
  
.teams img{
    width: 120% !important;
    height: 120% !important;
}

.outlook img{
    width: 110% !important;
    height: 110% !important;
    transform: translateY(-5%);
}

.fab{
    transition: transform .5s ease;
}

.fab:hover {
    transform: scale(1.2);
}